<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            background: url("/static/img/404.jpg") center;
            background-size: cover;
            width: 100%;
        }

        button {
            height: 30px;
            margin-left: 57.8%;
            margin-top: 26.5%;
        }
    </style>
</head>
<body>
<button onclick="location.href='/'">返回首页</button>
</body>
</html>